{# purpose of this template: website images index view #}
{% extends routeArea == 'admin' ? 'RKWebsiteHelperModule::adminBase.html.twig' : 'RKWebsiteHelperModule::base.html.twig' %}
{% block title __('website images') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <p>{{ __('Welcome to the website image section of the Website helper application.') }}</p>
{% endblock %}
