{# purpose of this template: vehicles index view #}
{% extends routeArea == 'admin' ? 'RKParkHausModule::adminBase.html.twig' : 'RKParkHausModule::base.html.twig' %}
{% block title __('vehicles') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <p>{{ __('Welcome to the vehicle section of the Park haus application.') }}</p>
{% endblock %}
