{# purpose of this template: reusable display of standard fields #}
{% if obj.createdBy|default or obj.updatedBy|default %}

    <dl class="propertylist">
    {% if obj.createdBy|default %}
        
        {% set profileLink = obj.createdBy.getUid()|profileLinkByUserId() %}
        
        <dd>{{ __f('Created by %user on %date', {'%user': profileLink, '%date': obj.createdDate|localizeddate('medium', 'short')})|raw }}</dd>
    {% endif %}
    {% if obj.updatedBy|default %}
        
        {% set profileLink = obj.updatedBy.getUid()|profileLinkByUserId() %}
        
        <dd>{{ __f('Updated by %user on %date', {'%user': profileLink, '%date': obj.updatedDate|localizeddate('medium', 'short')})|raw }}</dd>
    {% endif %}
    </dl>
    {% if panel|default(false) == true %}
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
