{# Purpose of this template: Display search options #}
<input type="hidden" id="rKParkHausModuleActive" name="active[RKParkHausModule]" value="1" />
<div>
    <input type="checkbox" id="active_rKParkHausModuleVehicles" name="rKParkHausModuleSearchTypes[]" value="vehicle"{% if active_vehicle %} checked="checked"{% endif %} />
    <label for="active_rKParkHausModuleVehicles">{{ __('Vehicles', 'rkparkhausmodule') }}</label>
</div>
<div>
    <input type="checkbox" id="active_rKParkHausModuleVehicleImages" name="rKParkHausModuleSearchTypes[]" value="vehicleImage"{% if active_vehicleImage %} checked="checked"{% endif %} />
    <label for="active_rKParkHausModuleVehicleImages">{{ __('Vehicle images', 'rkparkhausmodule') }}</label>
</div>
