{# purpose of this template: vehicle images index view #}
{% extends routeArea == 'admin' ? 'RKParkhausModule::adminBase.html.twig' : 'RKParkhausModule::base.html.twig' %}
{% block title __('vehicle images') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <p>{{ __('Welcome to the vehicle image section of the Parkhaus application.') }}</p>
{% endblock %}
