{% include 'ZikulaOsnabrueckTheme:Include:header.html.twig' %}
{% include 'ZikulaOsnabrueckTheme:Include:main_menu.html.twig' %}
<div class="container">
{{ showblockposition('center') }}
</div>
{% include "ZikulaOsnabrueckTheme:Body:" ~ themevars.home ~ ".html.twig" %}
{% include 'ZikulaOsnabrueckTheme:Include:footer.html.twig' %}
