{# Purpose of this template: Display carousells within an external context #}
{% for carousel in items %}
    <h3>{{ carousel.getTitleFromDisplayPattern() }}</h3>
    <p><a href="{{ path('rkwebsitehelpermodule_carousel_display', { 'id': carousel.id }) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
