body {
    padding-top: 60px;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-modulelinks .navbar-nav a, .navbar-modulelinks .navbar-nav a:hover, .navbar-modulelinks .navbar-nav a:focus {
    padding: 25px 20px;
}
.top-space {
	padding-top: 5px;
}
.bottom-space {
	padding-bottom: 5px;
}
.min-height {
	min-height: 60px;
}
	